/problema1/problema_01/nbproject/private/
/problema1/problema_01/build/
/problema2/DatosDocentes/nbproject/private/
/problema2/DatosDocentes/build/
/problema3/Ejecutor/nbproject/private/
/problema3/Ejecutor/build/
/problema4/informacionFinanciera/nbproject/private/
/problema4/informacionFinanciera/build/
